@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto";
  --font-permanent-marker: "Permanent Marker";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

h1 {
  font-family: var(--font-permanent-marker);
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }
  .bg-foreground {
    background-color: var(--foreground);
  }
}

/* Stile per la scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Larghezza della scrollbar */
}

::-webkit-scrollbar-track {
  background: #d4d4d8; /* Colore del track */
  border-radius: 10px; /* Raggio del bordo del track */
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa; /* Colore del thumb */
  border-radius: 10px; /* Raggio del bordo del thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a; /* Colore del thumb quando è hoverato */
}
